* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notification .notification__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  justify-content: center;
}
